#headshot {
  width: 100px;
  height: auto;
  border-radius: 100%;
  margin: 10px;
  box-shadow: 0 0 5px #ccc;
}

#start {
  flex-direction: row;
  padding: 2vh;
  gap: 2vw;
}

#end {
  flex-direction: column;
  padding: 2vh;
}

p {
  max-width: 500px;
  margin: 2vh;
}
h3 {
  margin: 2vh;
}

#logo-links {
  display: flex;

  justify-content: center;

  align-items: center;
  gap: 70px;
}

.logo {
  width: 40px;
  height: auto;
  margin: 10px;
}
