#headshot {
  width: 100px;
  height: auto;
  border-radius: 100%;
  margin: 10px;
  box-shadow: 0 0 5px #ccc;
}

#start {
  flex-direction: row;
  padding: 2vh;
}

#end {
  flex-direction: column;
  padding: 2vh;
}

p {
  max-width: 500px;
  margin: 2vh;
}
h3 {
  margin: 2vh;
}
